PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_MYSQL_PASSWORD
DB_NAME=support_tickets
JWT_SECRET=super_secret_jwt_key_support_ticket_system_2026

MYSQL_DATABASE=""
MYSQL_PUBLIC_URL=""
MYSQL_ROOT_PASSWORD=""
MYSQL_URL=""
MYSQLDATABASE=""
MYSQLHOST=""
MYSQLPASSWORD=""
MYSQLPORT=""
MYSQLUSER=""